@model NewUniversity.Models.Student
@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @if (Model.UserProfileImage != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UserProfileImage)
            </dt>
            <dd class="col-sm-8">

                <img src="~/images/@Model.UserProfileImage" class="rounded-circle" height="40" width="40" asp-append-version="true" />
            </dd>
        }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EnrollmentDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AcquiredCredits)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AcquiredCredits)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentSemestar)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentSemestar)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EducationLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EducationLevel)
            </dd>
            <dd></dd>
            <dt></dt>
        </dl>
</div>
<div>
   <p>Enrollled classes:</p>
   <ul>
       @foreach (string s in ViewBag.datalist)
       {
           <li>@s</li>
       }
   </ul>
</div>

<div>
    <a asp-action="StudentEdit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="StudentIndex">Back to List</a>
</div>
